html,
body {
    height: 100%;
    background-image: url("background.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
a:link {
    text-decoration: none;
    color: inherit;
}

#destination-wrapper{
   width: 75%;
   margin: auto;
}

.controls {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px #00FFCC;
}

  #destination-input{
    background-color: #fff;
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    text-align: center;
}

   #destination-input:focus{
   border-color: #4d90fe;
}

#map {
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: -5;
}
#map-buttons-wrapper {
    display: flex;
    width: 75%;
    margin: auto;
}
.display-hide-button {
    flex: 1;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.5em;
    border: 0px;
    border-radius: 5px;
    background-color: #DAA520;
    display: inline-block;
    transition: all 0.5s;
    min-height: 40px;
}
.display-hide-button:hover {
    color: white;
    background-color: #D2691E;
    box-shadow: 0 2px 6px #F0FFF0;
    cursor: pointer;
}
.switch-row {
    display: flex;
    padding: 5px;
    min-height: 200px;
}
.waypoints-range {
    flex: 1;
    background-color: #FFC0CB;
    pading: 5px;
    margin: 2px;
}
#waypoint-panel select,
#waypoint-panel input {
    font-size: 20px;
}
#waypoint-panel select {
    width: 100%;
}
#waypoint-panel {
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: #FFF8DC;
    color: #000000;
    opacity: 0.9;
    border-radius: 5px;
}
h2 {
    font-size: 1.5em;
    margin: 0 0 5px 0;
}
.button {
    width: 50%;
    font-size: 1.5em;
    border: 0px;
    border-radius: 5px;
    background-color: #A52A2A;
    transition: all 0.5s;
    color: white;
}
.button:hover {
    color: #000000;
    background-color: #F0FFFF;
    cursor: pointer;
}
#more {
    margin-top: 5px;
}
#display-directions {
    margin-bottom: 5px;
}
#places {
    background: #FF3366;
    text-align: center;
    color: white;
    font-size: 1.5em;
    min-height: 400px;
}
#text-directions {
    display: none;
    line-height: 30px;
    color: #000000;
}
#text-directions td {
    color: #00008B;
    background-color: #F0F8FF;
    opacity: 0.9;
    font-size: 1.2em;
    font-weight: bold;
}
#text-directions .adp-text {
    color: #00008B;
}
#text-directions .adp-summary {
    color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #F0F8FF;
}
.adp-placemark {
    color: black;
}
.adp-summary {
    color: white;
}
.adp-directions {
    float: none;
    width: 100%;
    margin: auto;
}
#text-directions select,
#text-directions input {
    font-size: 15px;
}
#text-directions select {
    width: 100%;
}
#text-directions i {
    font-size: 12px;
}
#text-directions {
    height: 100%;
    text-align: center;
    width: 100%;
    overflow: auto;
}
#destination-wrapper {
    width: 75%;
    margin: auto;
}
#label: {
    width: 100%;
}
#mode-panel {
    background-color: #303030;
    border-radius: 5px;
    opacity: 0.9;
    padding: 5px;
    text-align: center;
    color: white;
    width: 74.1%;
    margin: auto;
}
#mode select {
    border: 0;
    background: transparent;
}
#mode {
    width: 75%;
    margin: auto;
    background: #D2691E;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-size: 1.5em;
}
#wrapper {
    width: 75%;
    margin: auto;
    text-align: center;
    color: white;
}

@media screen and (max-width: 800px) {
    #mode {
        width: 100%;
    }
    #waypoint-panel {
        width: 100%;
    }
    #mode-panel {
        width: 100%;
    }
}
